
body {
  background: url('../img/background.png') repeat;
}

ul.navbar-nav, .navbar-green {
  background: #00854F;
}
.navbar-green {
height: 93px;
font-family:myFirstFont;
}

.preview {
  visibility: hidden;
}
.navbar-brand:focus, .navbar-brand:hover {
  color: white !important;
  font-size: 1em !important;
}

.box-npm {
  margin: 3.5%;
}

.checkbox-group{
  margin-top: 10px;
}

.navbar-brand {
  padding-top: 5px !important;
}

.navbar-line {
  background: #01673F;
  height: 3px;
}

@font-face
{
font-family: myFirstFont;
src: url('../fonts/HelveticaNeueLTStd-Th.otf');
} 

.navbar-font {
  font-family:myFirstFont;
  color: #D9D9D9;
  font-size: 0.95em;
}

.demo {
    margin-top: 20px;
    border: 1px solid rgb(225, 225, 232);
    border-radius: 4px 4px 4px 4px;
    
}

.container .row {
    margin-left: 0;
}

.demo-textarea:focus {
  background-image: none; 

}

pre {
    border-style: dashed;
}

pre.pre-consola{
  background-color: #706969;
  color: white;
}

.consola {
  height: 70px;
  margin-top: 25px;
} 

pre p {
  margin-top: -12px;
}

.navbar-toggle {
    margin-top: 25px;
  }

.icon-upload{
  background: url('../img/upload.png'); 
}
.container {
  height: 91px;
}

.btn {
  border-radius: 0 !important;
}

.btn-info {
  background-color: #5FA7E3 !important;
  margin-top: 5px;
}

.row-background {
  background: white;
  border-radius: 4px;
  padding: 10px;
}

.navbar-collapse > ul > li > a {
  color: white !important;
}

.navbar-nav > li.active > a {
  opacity: 50;
  /* IE10 Consumer Preview */ 
  background-image: -ms-linear-gradient(top, #018650 0%, #199D54 100%);

  /* Mozilla Firefox */ 
  background-image: -moz-linear-gradient(top, #018650 0%, #199D54 100%);

  /* Opera */ 
  background-image: -o-linear-gradient(top, #018650 0%, #199D54 100%);

  /* Webkit (Safari/Chrome 10) */ 
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #018650), color-stop(1, #199D54));

  /* Webkit (Chrome 11+) */ 
  background-image: -webkit-linear-gradient(top, #018650 0%, #199D54 100%);

  /* W3C Markup, IE10 Release Preview */ 
  background-image: linear-gradient(to bottom, #018650 0%, #199D54 100%);

}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
  color: #DBDBEA !important;
}

.img-padding{
  padding: 6px;
}

.bs-callout-info {
    text-align: justify;
    background-color: white;

    border-color: rgb(208, 227, 240);
}
.bs-callout {
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #499DE1;
}
/* --- LOGO GITHUB ----*/

.logo-github-small {
  background-color: #008550;
  width: 52px;
  height: 52px;
  position: relative;
  left: 0;
  top: -10px;
  overflow: hidden;
  -webkit-border-radius: 26px;
  moz-border-radius: 26px;
  -ms-border-radius: 26px;
  -o-border-radius: 26px;
  border-radius: 26px;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.logo-github-small div {
  position: absolute;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  background-color: #ffffff;
}
.logo-github-small div[class*=-none] {
  background-color: #008550;
}
.logo-github-small .head {
  width: 32.586666666666666px;
  height: 24.266666666666666px;
  left: 9.706666666666667px;
  top: 13px;
}
.logo-github-small .chin-left {
  width: 21.666666666666668px;
  height: 23.573333333333334px;
  left: 9.36px;
  top: 14.213333333333335px;
}
.logo-github-small .chin-right {
  width: 21.666666666666668px;
  height: 23.573333333333334px;
  left: 20.973333333333333px;
  top: 14.213333333333335px;
}
.logo-github-small .ear-one-left {
  width: 12.133333333333333px;
  height: 15.600000000000001px;
  left: 11.613333333333333px;
  top: 7.28px;
}
.logo-github-small .ear-one-right {
  width: 7.973333333333334px;
  height: 2.08px;
  left: 11.96px;
  top: 11.96px;
  -webkit-transform: rotate(23deg);
  -moz-transform: rotate(23deg);
  -ms-transform: rotate(23deg);
  -o-transform: rotate(23deg);
  transform: rotate(23deg);
}
.logo-github-small .ear-one-none {
  width: 17.68px;
  height: 7.800000000000001px;
  left: 12.133333333333333px;
  top: 6.413333333333334px;
}
.logo-github-small .ear-two-left {
  width: 7.973333333333334px;
  height: 2.08px;
  left: 32.06666666666667px;
  top: 11.96px;
  -webkit-transform: rotate(-23deg);
  -moz-transform: rotate(-23deg);
  -ms-transform: rotate(-23deg);
  -o-transform: rotate(-23deg);
  transform: rotate(-23deg);
}
.logo-github-small .ear-two-right {
  width: 12.133333333333333px;
  height: 15.600000000000001px;
  left: 28.253333333333334px;
  top: 7.28px;
}
.logo-github-small .ear-two-none {
  width: 17.68px;
  height: 7.800000000000001px;
  left: 22.186666666666667px;
  top: 6.413333333333334px;
}
.logo-github-small .body-left {
  -webkit-border-radius: 100% 100% 0 0;
  -moz-border-radius: 100% 100% 0 0;
  -ms-border-radius: 100% 100% 0 0;
  -o-border-radius: 100% 100% 0 0;
  border-radius: 100% 100% 0 0;
  width: 9.706666666666667px;
  height: 15.253333333333334px;
  left: 19.413333333333334px;
  top: 36.22666666666667px;
}
.logo-github-small .body-left-none {
  width: 1.3866666666666667px;
  height: 6.933333333333334px;
  left: 18.026666666666667px;
  top: 44.02666666666667px;
  -webkit-border-radius: 0.6933333333333334px 0 0.6933333333333334px 0;
  -moz-border-radius: 0.6933333333333334px 0 0.6933333333333334px 0;
  -ms-border-radius: 0.6933333333333334px 0 0.6933333333333334px 0;
  -o-border-radius: 0.6933333333333334px 0 0.6933333333333334px 0;
  border-radius: 0.6933333333333334px 0 0.6933333333333334px 0;
}
.logo-github-small .body-right {
  -webkit-border-radius: 100% 100% 0 0;
  -moz-border-radius: 100% 100% 0 0;
  -ms-border-radius: 100% 100% 0 0;
  -o-border-radius: 100% 100% 0 0;
  border-radius: 100% 100% 0 0;
  width: 9.706666666666667px;
  height: 15.253333333333334px;
  left: 22.880000000000003px;
  top: 36.22666666666667px;
}
.logo-github-small .body-right-none {
  width: 1.3866666666666667px;
  height: 6.933333333333334px;
  left: 32.586666666666666px;
  top: 44.02666666666667px;
  -webkit-border-radius: 0 0.6933333333333334px 0 0.6933333333333334px;
  -moz-border-radius: 0 0.6933333333333334px 0 0.6933333333333334px;
  -ms-border-radius: 0 0.6933333333333334px 0 0.6933333333333334px;
  -o-border-radius: 0 0.6933333333333334px 0 0.6933333333333334px;
  border-radius: 0 0.6933333333333334px 0 0.6933333333333334px;
}
.logo-github-small .body-bottom {
  width: 15.253333333333334px;
  height: 3.12px;
  left: 18.373333333333335px;
  top: 49.4px;
}
.logo-github-small .tail-end {
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -o-transform: rotate(-35deg);
  transform: rotate(-35deg);
  width: 2.7733333333333334px;
  height: 6.066666666666666px;
  left: 9.186666666666667px;
  top: 36.57333333333334px;
}
.logo-github-small .tail-body {
  width: 13.52px;
  height: 8.32px;
  left: 10.92px;
  top: 36.92px;
}
.logo-github-small .tail-body-spots {
  border: 0.8666666666666667px #008550 dotted;
  background: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0 0 25.133333333333333px 22.533333333333335px;
  -moz-border-radius: 0 0 25.133333333333333px 22.533333333333335px;
  -ms-border-radius: 0 0 25.133333333333333px 22.533333333333335px;
  -o-border-radius: 0 0 25.133333333333333px 22.533333333333335px;
  border-radius: 0 0 25.133333333333333px 22.533333333333335px;
  width: 17.333333333333336px;
  height: 10.226666666666667px;
  left: 9.013333333333334px;
  top: 32.93333333333334px;
}
.logo-github-small .tail-end-none {
  -webkit-transform: rotate(-24deg);
  -moz-transform: rotate(-24deg);
  -ms-transform: rotate(-24deg);
  -o-transform: rotate(-24deg);
  transform: rotate(-24deg);
  width: 2.9466666666666668px;
  height: 8.32px;
  left: 7.973333333333334px;
  top: 37.78666666666667px;
}
.logo-github-small .tail-body-none {
  width: 11.613333333333333px;
  height: 8.32px;
  left: 11.613333333333333px;
  top: 33.626666666666665px;
}
.logo-github-small .tail-tip {
  -webkit-transform: rotate(12deg);
  -moz-transform: rotate(12deg);
  -ms-transform: rotate(12deg);
  -o-transform: rotate(12deg);
  transform: rotate(12deg);
  width: 3.466666666666667px;
  height: 1.56px;
  left: 7.106666666666667px;
  top: 36.74666666666667px;
}
/* END-*/